{% extends "DJviewBundle::template.html.twig" %}

{% block content%}

<div id="body_addfigure" class="row">
    <div  class="col-sm-6 col-lg-offset-3 " >
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Ajout Figure</h2>
                        <hr class="star-primary">
                    </div>
                </div>
            </div>
        </div>
        
        <div>
            {{form(form)}}
            {{ form_row(form.picture) }}
        </div>
    </div>
</div>
        
<div class="well">
  {# ... #}
  
  {{ form_row(form.picture) }}
  <a href="#" id="add_Pictures" class="btn btn-default">Ajouter une image</a>
   {{ form_row(form.videofigure) }}
  <a href="#" id="add_Videos" class="btn btn-default">Ajouter une video</a>
  {# ... #}
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{# Voici le script en question : #}
<script src="{{asset('public/jsp/fromfigure.js')}}"></script>
    
{% endblock %}
