{% extends "DJviewBundle::template.html.twig" %}


{% block content %}

     <!-- Page Content -->

    <div id="indexbody" class="container-fluid">
        {% for message in app.flashes('notice') %}
        <div style="margin-bottom: 0px; text-align: center; ;" class="alert alert-success" role="alert" id="success">       
            <a style="padding-top: 80px"> Sauvegardé avec sucess !</a>
        </div>
        {% endfor %}
                {% for message in app.flashes('reset') %}
        <div style="margin-bottom: 0px; text-align: center; ;" class="alert alert-success" role="alert" id="success">       
            <a style="padding-top: 80px"> Un mail a été envoyé!</a>
        </div>
        {% endfor %}
        <!-- Jumbotron Header -->
        
        <header id="imageacceuil" class="jumbotron hero-spacer">
            <h1 style="color: white;" >Bienvenue sur Fetebox</h1>
            <p></p>
            <p><a href="#" class="btn btn-primary btn-large"  onclick="affichefig(this)" >Voir les Box</a>
            </p>
        </header>
        <div id="figuredisplay" style="display: none" >
        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Dernier Figures</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">
            
            {%for figure in figure%}
            <div id = "card" class="col-md-2 col-sm-6 col-xs-12 hero-feature card">
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-md-6">
                            <a>Auteur: {{figure.users.username}}</a>
                        </div>
                        
                        <div class="col-md-2 col-md-offset-2">
                           
                            
                            {% if app.user == figure.users or is_granted('ROLE_ADMIN') %}
                           <a href="{{path('d_jview_delfigure',{id: figure.id})}}"onclick="popdeleted()"><img src="../public/img/supprimer.png" alt=""></a>
                            {% endif %}
                        </div>
                        <div class="col-md-2" style="align-content: center">
                           
                            {% if app.user == figure.users or is_granted('ROLE_ADMIN') %}
                           <a href="{{path('d_jview_modification',{id: figure.id})}}"><img src="../public/img/bouton-modifier_318-77528.jpg" alt=""></a>
                            {% endif %}
                        </div>

                    </div>

                {% if figure.picture|length == 0 %}
                    <img id="videos" class="img-responsive displayed" style="margin-left: auto; margin-right: auto;" src="{{asset('images/')}}{{noimage}}" alt="">
                {% else %} 
                     {% for figure in figure.picture %}
                    {% if loop.index == 1 %}
                        <img id="videos" class="img-responsive displayed" style="margin-left: auto; margin-right: auto;" src="{{asset('images/')}}{% if figure.pictureLink %}{{figure.pictureLink}}{% else %}{{noimage}} okok{% endif %}" alt="">
                    {% endif %}

                {% endfor %}
                {% endif %}
                    <div class="caption">
                        <h3>{{figure.figureName}}</h3>
                        <p>{{figure.figureDescription|truncate(50, false, '...')|raw}}</p>
                        <p>
                             <a href="{{path('d_jview_detailfigure', {'id': figure.id, 'name': figure.figureName })}}" class="btn btn-default">Voir plus...</a>
                        </p>
                    </div>
                        <div>
                            <a>Date de cration: {{figure.figureCreatedate|date('d-M-Y')}}</a>
                        </div>
                </div>
            </div>
            {%endfor%}
  
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-2 col-md-offset-5" >
        </div>
    </div>
        <hr>
        

<script src="{{asset('public/jsp/messagedelelted.js')}}"></script>

    
    
{% endblock %}
