{% extends "DJviewBundle::template.html.twig" %}




{% block content %}
    
    <!-- Portfolio Modals -->
    
<!-- Page Content -->
    <div class="container" style="margin-top: 200px;">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div id="principale" class="col-lg-10 col-lg-offset-1">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>{{figure.figureName}}</h1>

                <!-- Author -->
                <p class="lead">
                    by <a id="auteur" href="#">{{figure.users.username}}</a>
                </p>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> {{figure.figureCreateDate|date('d-M-Y')}}</p>

                <hr>

                <!-- Preview Image -->
                <div id="imagePincipale" class="screen">
                {% for figure in figure.picture %}
                
                {% if loop.index == 1 %}
                <img id="videos" class="img-responsive displayed" style="margin-left: auto; margin-right: auto;" src="{{asset('images/')}}{{figure.pictureLink}}" alt="">
                {% endif %}
                {% endfor %}
                </div>
                <div id="videoprincipale" onclick="tes(this)" >
                </div>
                <hr>
                <div class="row" >
                    {% for figure in figure.picture %}
                    <div class="col-md-2" style="margin-top: 5px" >
                        <a href="#" ><img id="image{{figure.id}}" class="img-responsive displayed img" style="margin-left: auto; margin-right: auto;" src="{{asset('images/')}}{{figure.pictureLink}}" alt="" onclick="tes(this)"></a>                        
                    </div>
                    {% endfor %}
                    {% for figure in figure.videofigure %}
                    <div id="videolive" class="col-md-2"style="margin-top: 5px">
                        <a id="video{{figure.id}}" class="video" href="#" >{{figure.videolink|raw}}</a>
                    </div>
                    {% endfor %}
                </div>
                <hr>
                
                <hr>

                <!-- Post Content -->
                <p class="lead">{{figure.figureDescription|raw}}</p>

                <hr>
                
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <a> Auteur: {{figure.users.username}}</a>
                    </div>
                    <div class="col-md-4">
                        <a> Catégorie : {{figure.categories}}</a>
                    </div>
                    <div class="col-md-4">
                        <a> </a>
                    </div>

                
                </div>
                <hr>

                <!-- Blog Comments -->

                <!-- Comments Form -->
                {% if app.user %}
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <div >
                        <div class="form-group">
                            {{form(form)}}
                        </div>
                       
                    </div>
                </div>
                {% endif %}
                <hr>

                <!-- Posted Comments -->

                <!-- Comment -->
                {% for comments in comments %}
                <div class="media">
                    <a class="pull-left" href="#">
                        <img style="height: 64px" class="media-object" src="{{asset('photo_user/')}}{{ comments.userID.userphoto }}" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{ comments.userId.username}}
                            <small>{{ comments.commentCreateDate|date('M-d-Y H:i:s') }}</small>
                        </h4>
                        {{ comments.commentContent }}
                    </div>
                </div>
                <hr>

                {% endfor %}
                <nav aria-label="navigation">
                <ul class="pager">
                  <li><a id="before" href="#" title="Précédent">Précédent</a></li>
                  <li><a id="next" idarticle="{{figure.id}}" href="#" title="Suivant">Suivant</a></li>
                </ul>
                </nav>
                <!-- Comment -->
               

            </div>
        </div>

            <!-- Blog Sidebar Widgets Column -->

        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright </p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

<script src="{{asset('public/jsp/imageprincipale.js')}}"></script>
<script src="{{asset('public/jsp/jalileJS.js')}}"></script>
<script src="{{asset('public/jsp/paginator.js')}}"></script>


{% endblock %}
